:root {
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Color */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  /* Others */
  --header-idx: 10;
  --modal-idx: 100;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Base styles */
body {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: #434455;
  background-color: #ffffff;
}

/* Normalize vs Reset */
img {
  display: block;
}

.button {
  display: flex;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  margin-left: 636px;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
}
.section {
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  color: inherit;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;

  outline: 2px solid red;
  outline-offset: -2px;
}

/* reset start */

.section-title {
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
}
.subtitle {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}

.desc {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}

.small-text {
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
}

/* Header styles */
.header {
  z-index: var(--header-idx);

  width: 100%;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header.no-transparency {
  background-color: var(--color-white);
}

.header-container {
  display: flex;
  align-items: center;
  height: 72px;
}
.header-main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  gap: 40px;
}
.header-nav-link {
  position: relative;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  margin-right: 76px;
}

.span {
  color: var(--color-navy-blue);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--color-ocean);
}

.header-nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -26px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-ocean);
}
.header-nav-link.active::after {
  color: var(--color-ocean);
}

.header-logo-studio {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-navy-blue);
}

.header-nav-item {
}
.header-address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.header-address-item {
}
.header-address-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

/* Section-Hero */

.hero-section {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-navy-blue);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Hero/hero.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-container {
}
.main-hero-title {
  font-size: 56px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: #ffffff;
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
}

.button {
  font-family: Roboto, sans-serif;
  background-color: var(--color-iris);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
  height: 56px;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--color-ocean);
}

/* Section-1-advantage */

.advantage-section {
  padding: 120px 0;
}

.main-advantage-section {
}
.advantage-list {
  display: flex;
  gap: 24px;
}

.advantage-list-item {
  width: calc((100% - 72px) / 4);
}
.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.advantage-list-title {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantage-list-subtitle {
}

/* Section-2-work */

.work-section {
  padding-bottom: 120px;
}

.section-title {
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.work-title {
}
.work-list {
  display: flex;
  gap: 24px;
}
.list {
}
.work-list-item {
  width: calc((100% - 48px) / 3);
}
.work-list-img {
}

/* Section-3-team */

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-title {
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-title {
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-profession {
  padding: 32px 0px;
}
.team-list-img {
}

.team-subtitle {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-desc {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--color-ocean);
}
.social-icons {
  fill: var(--color-cloud);
}

/* Section-4-customers */

.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-title {
  font-size: 36px;
  line-height: 1.1;
  color: var(--color-grey);
  margin-bottom: 72px;
  text-align: center;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-list-item {
  width: calc((100%-120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-slate);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--color-ocean);
  color: var(--color-ocean);
}
.customers-icons {
  fill: currentColor;
}
/* Footer styles */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.social-container {
}
.footer-logo-container {
  margin-right: 120px;
}
.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
}
.socials-footer {
  display: flex;
  gap: 16px;
}
.socials-item-footer {
  width: 40px;
  height: 40px;
}
.socials-link-footer {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: var(--color-green);
}
.footer-link {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  display: flex;
  margin-bottom: 16px;
}

.logo-web-studio {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-desc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  width: 264px;
}
.span {
  color: #f4f4fd;
}

/*Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur (2px);
  z-index: var(--modal-idx);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  padding: 0;
  border-radius: 50%;

  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-ocean);
  border: none;
  fill: var(--color-white);
}

.modal-close-icon {
  width: 8px;
  height: 8px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* PORTFOLIO */

/* Filters styles */

.filters {
  padding: 96px 0 120px;
}
.filters-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filters-list-item {
}

.filters-button-all {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-button-all:hover,
.filters-button-all:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list {
}

.row-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.row-list-item {
  width: calc((100% - 48px) / 3);
  display: block;
}
.row-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.row-link:hover .overlay-text,
.row-link:focus .overlay-text {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.row-thumb {
  position: relative;
  overflow: hidden;
}

.row-list-img {
}

/* Overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: var(--color-iris);
  mix-blend-mode: normal;
}
.overlay-text {
  position: absolute;
  top: 0px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  color: var(--color-cloud);
  background-color: var(--color-iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.row-subtitle {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: #2e2f42;
  margin-bottom: 8px;
}
.row-desc {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: #434455;
}
